body {
    background-color: #eeeeee;
    margin: 16px
}
.container {
    background-color: white;
    padding: 16px
}
#footer {
    background-color: #666666;
    height: 30px;
    color: #eeeeee;
    text-align: center;
    padding: 0px;
}
#heading {
    text-align: center;
}
.card-text {
    text-align: justify;
}
#position2 {
    margin-top: 32px
}
.card {
    margin-bottom: 15px
}
.screenshot {
    height: 200px;
    margin-top: 10px;
}